<div class="main-container">
  <div class="row">
    <div class="column">
      <h1>List Items</h1>
      <app-card-products></app-card-products>
    </div>
    <div class="column">
      <h1>Payment Method</h1>

      <p>Please enter your payment method</p>
      <form class="payment-form">

        <div class="bg-color">
          <div class="row">
            <div class="column">
              <mat-checkbox class="example-margin">Credit Card</mat-checkbox>
            </div>
            <div class="column">
              <img src="assets/images/visa.png"  class="visa-img  img-right" alt="visa image" />
            </div>
          </div>
          <div class="row">
            <mat-form-field class="column">
              <mat-label>Card Number</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. 111111">
            </mat-form-field>
            <mat-form-field class="column">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="column">
              <mat-label>Card Holder</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. 111111">
            </mat-form-field>
            <mat-form-field class="column">
              <mat-label>CVC</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. 111111">
            </mat-form-field>
          </div>
        </div>
        <div class="bg-color">

          <div class="row">
            <div class="column">
              <mat-checkbox class="example-margin ">Paypal</mat-checkbox>
            </div>
            <div class="column">
              <img src="assets/images/paypal.png"  alt="paypal image" class="paypal-img img-right" />
            </div>
          </div>
        </div>
        <div>
          <h1> Confirmation</h1>
          <p> We are getting to the end. Just few clicks and your retail is ready</p>
          <mat-checkbox class="chk-agree-1 bg-color" >I agree with sending an Marketing and newsletter emails. No spam, promissed!</mat-checkbox>
          <mat-checkbox class="chk-agree-2 bg-color" (click)="showDataSafe()">I agree with our terms and conditions and privacy policy.</mat-checkbox>

        </div>
        <button mat-fab extended color="primary" >
          PAY NOW
        </button>
        <div *ngIf="divdatasafe" class="data-safe">
          <img src="assets/images/secure.png"  alt="secure image" class="secure-img" />
          <p> All your data are safe</p>
          <label>We are using the most advanced security to provide you the best experience ever.</label>
        </div>
      </form>

    </div>
  </div>
</div>
