* {
  box-sizing: border-box;
}

.default-spacer{
  flex: 1 1 auto;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.bg-color{
  background-color: #f5f5f5;
  padding: 10px;
}
.payment-form{
  background-color: #ffffff;;
  padding: 5px;
}
.visa-img{
  width: 80px;
  height: 20px;
  object-fit: fill;
}
.paypal-img{
  width: 40px;
  height: 20px;
  object-fit: fill;
}
.secure-img{
  width: 40px;
  height: 40px;
  object-fit: fill;
}
.img-right{
  display: block;
  margin-left: auto;
}
