.main-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 8em;
}

.mat-h1, .mat-h3 {
  margin-bottom: 1px;
}

.black-text {
  font-weight: bold;
  color: black;
}

.blue-text {
  font-weight: bold;
  color: #2f26a2;
}

.product-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .product-container {
    flex-direction: column;
  }
}
