.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 1.5em;
  background-color: white;
}

.toolbar-section-left {
  display: flex;
  align-items: center;
}

.toolbar-pages {
  margin-left: 8.5em;
  font-size: 0.9rem;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidebar-logo {
  display: flex;
}

.sidebar-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.sidebar-text-left {
  color: #595959;
}

.sidebar-text-right {
  color: #5766F5;
}

.sidebar-subtext {
  padding: 1.5em 3em;
}

.sidebar-option {
  display: flex;
  margin: 2em 3em 2em 1.5em;

}

.sidebar-option mat-icon {
  margin-right: 0.5em
}

.sidenav-container {
  flex: 1;
}

.toolbar-is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.searcher {
  display: flex;
  align-items: center;
  padding: 0.1em 5em 0.1em 0.5em;
  background-color: #f5f5f5;
  border-radius: 2em;
}

.searcher input {
  border: none;
  background-color: #f5f5f5;
  font-size: 0.9rem;
  outline: none;
}

@media (max-width: 768px) {
  .searcher {
    padding: 0.1em 0 0.1em 0.5em;
  }
}
