<div class="form-container">
  <h1>Login</h1>
  <mat-form-field appearance="outline">
    <mat-label>Email address</mat-label>
    <input #emailInput type="email" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input #passwordInput matInput [type]="hide ? 'password' : 'text'" />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div style="display: flex; justify-content: space-between; align-items: center">
    <button style="background-color: #5766f5; color: white; padding: 1.5rem" mat-flat-button (click)="login(emailInput.value, passwordInput.value)">Login</button>
    <a class="link-to-reset-password" href="/reset-password">Forgot your password?</a>
  </div>
  <a href="/sign-up" style="background-color: #5766f5; color: white; padding: 1.5rem" mat-flat-button>CREATE NEW ACCOUNT</a>
</div>
