.reset-password-container {
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
}

.app-reset-password-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.reset-password-image {
  width: 100%;
  max-width: 40rem;
}

@media (max-width: 1050px) {
  .reset-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-password-image {
    display: none;
  }
}
