<section class="main-conatiner">
  <h1 class="title">Help & center</h1>
  <article class="content">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          🚘​ Will tuning affect my car's warranty?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>In general, making modifications to your car can affect the warranty,
        especially if these modifications are related to the engine or other major components.
        However, our team will ensure that any modifications made comply with the manufacturer's standards and specifications to minimize any warranty risk</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          🚨​ How long does it take to complete the tuning process?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>The time required to complete the tuning process may vary depending on the scope of the modifications and the availability of the necessary components.
        Our team will provide you with a detailed estimate of the waiting time once we have evaluated your car and agreed on the details of the work to be done.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          💢​ How safe are the modifications made through the tuning service?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Safety is our top priority. All modifications performed on your car are carried out by
        experienced professionals and adhere to the highest standards of quality and safety.
        In addition, we use proven quality components and perform extensive testing to ensure the reliability and safety of all modifications.</p>
    </mat-expansion-panel>
  </article>
</section>
