<div class="reset-password-form-container">
  <h1>Reset your password</h1>
  <p>Type in your new password</p>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide1 ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide1 = !hide1"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide1"
    >
      <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm your password</mat-label>
    <input matInput [type]="hide2 ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide2 = !hide2"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide2"
    >
      <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <a
    href="/src/app/public"
    style="background-color: #5766f5; color: white; padding: 1.5rem"
    mat-flat-button
  >
    RESET
  </a>
  <a
    href="/login"
    style="background-color: black; color: white; padding: 1.5rem"
    mat-flat-button
  >
    BACK TO LOGIN
  </a>
</div>
