.card {
  display: flex;
  width: 241px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mat-card button {
  margin-top: 12px;
}

.mat-card button:nth-of-type(1) {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
}

.mat-card button:nth-of-type(2) {
  background-color: white;
  border: 2px solid #007bff;
  color: #007bff;
  margin-bottom: 12px;
}

.mat-card img {
  max-width: 100%;
  height: auto;
}

.price {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.order-button {
  color: #fff;
  background-color: #2f26a2;
  margin-left: auto;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.favorite-active .mat-icon {
  color: red;
}

.container {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}
