.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.notification-card {
  width: 400px;
  margin:auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notification-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}
.example-full-width {
  width: 100%;
}
.cancel-button {
  margin-right: 8px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.mat-form-field:last-child {
  margin-bottom: 0;
}
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 50px;
  border-radius: 4px;
  margin-top: 4px;
}

.upload-icon {
  margin-right: 4px;

}
