<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Order </th>
    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row" (click)="openDialog()"> {{row.description}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>
  <ng-container matColumnDef="entry">
    <th mat-header-cell *matHeaderCellDef> Entry </th>
    <td mat-cell *matCellDef="let row" (click)="datepicker.open()">
      <input style="border-width:0px" matInput [matDatepicker]="datepicker" [value]="row.entry">
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>

    </td>
  </ng-container>
  <ng-container matColumnDef="exit">
    <th mat-header-cell *matHeaderCellDef> Exit </th>
    <td mat-cell *matCellDef="let row" (click)="datepicker.open()">
      <input style="border-width:0px" matInput [matDatepicker]="datepicker" [value]="row.exit">
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let row">
      <mat-icon *ngIf="row.status === 'Success'" style="color:green;" fontIcon="circle"></mat-icon>
      <mat-icon *ngIf="row.status === 'Error'" style="color: red;" fontIcon="circle"></mat-icon>
      <mat-icon *ngIf="row.status === 'In process'" style="color: yellow;" fontIcon="circle"></mat-icon>

    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
